.child__taskList--rewards {
    
    li {
        padding-bottom: 1.75em;
    }
    .taskList__pointValue--decorative {
        background: $lightgrey;
        top: auto;
        margin-top: 0;
        bottom: 1em;
        height: 3em;
        width: 3em;
        line-height: 2.25;
        
        span {
            line-height: .5;
        }
    }
    
    .complete--reward .taskList__pointValue--decorative {
        background: $blue url(../img/RewardButton.png) center center no-repeat;
        background-size: contain;
    }
}